body { margin-bottom: -2em; padding-bottom: 2em; }

#central_block_my_page { width: 36%; }

.mobile #central_block_my_page { width: 100%; /* styles below just mimic desktop variant with minimal modifications */ /*  absolute positioning here makes checkboxes of the main switches located to the left from their labels (instead of right) while keeping the same html */ }

.mobile #central_block_my_page .bl_capt { padding: 0.4em; }

.mobile #central_block_my_page .new_line { text-align: center; clear: both; padding: 5px; position: relative; }

.mobile #central_block_my_page .l_capt { float: left; margin-left: 1.3em; text-align: left; font-weight: bold; display: inline; clear: left; }

.mobile #central_block_my_page .field_content { text-align: right; position: absolute; left: 0; display: inline; }

.mobile #central_block_my_page .g_desc { font-size: 0.8em; text-align: left; padding: 0 0.1em; }

.mobile #central_block_my_page .g_desc label { display: inline; font-size: inherit; }

#central_block_my_page, .bl_capt, th { background: none; }

.mobile #optlightbox.block { padding: 0.5em; }

.mobile #optlightbox.block #lightbox_title { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

#profile_forms .block, #profile_main .block { padding: 0; }

#voice_menu { width: 100%; }

#user_css { font: 100% monospace; }

#words a { text-decoration: underline; color: #199BDC; cursor: pointer; }

#words a.selected { text-decoration: none; color: #DA251D; cursor: default; }

#general_settings input:not(.menu-checkbox):not(.option-checkbox):not(.forbidden-informers-checkbox)[type=checkbox], #general_settings input:not(.menu-checkbox):not(.option-checkbox)[type=radio] { position: relative; top: 0.25em; }

#general_settings input:not(.menu-checkbox):not(.option-checkbox):not(.forbidden-informers-checkbox)[type=checkbox], #general_settings input.ksmall { transform: scale(0.7); -webkit-transform: scale(0.69); }

#general_settings input.informer-checkbox { margin: 3px 3px 3px 0; }

#general_settings input[type="range"] { vertical-align: middle; }

#general_settings span.clickable { border-bottom: 1px dashed darkgray; cursor: pointer; }

#options_saved { font-style: italic; font-size: 0.7em; padding-top: 1.0em; }

#optdimmer { background: #000; position: fixed; width: 100%; height: 100%; opacity: 0.5; top: 0; z-index: 99; }

#optlightbox { visibility: hidden; position: absolute; z-index: 100; }

#optlightbox fieldset { height: 90%; }

#lightbox_desc { margin-top: 15px; margin-left: 10px; text-align: left; }

#lightbox_table { overflow-Y: scroll; margin: 0 0 5px 0; }

#lightbox_ieblock { padding-top: 0.4em; width: 95%; }

.lightbox_expanded { padding-bottom: 1.5em; }

.lightbox_row input, .lightbox_row textarea { vertical-align: middle; }

.lightbox_row textarea { box-sizing: border-box; resize: none; }

.lightbox_opt_desc { font-style: italic; border-bottom: 1px dashed gray; cursor: pointer; }

.e_new_line { text-align: center; clear: both; padding: 5px; width: 95%; }

.e_bl_cell { border-radius: 5px; border: 1px solid #ddd; }

.e_dragging { cursor: move; margin-right: 5px; }

.e_missing_tes { background-color: lightcoral; }
